.env
.env.*
!.env-example
!frontend_build/mneme_frontend/.env.example

__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.mypy_cache/

.idea/

storage/
*.sqlite3
*.tar
*.zip
sentence_transformers.zip

frontend_build/**/node_modules/
frontend_build/**/dist/
frontend_build/**/.env.local
frontend_build/**/.env.*.local
